<header class="hero-image">
	<nav class="navbar navbar-default" role="navigation">
	
       <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><%= link_to "Events", events_path %></li>

		</ul>
	

</header>